# large files and pdfs
*.pdf
*.mp4
*.mp3
*.stp

# output files from tex
*.aux
*.fdb_latexmk
*.fls 
*.gz
*.out
*.toc
*.log

# ECO101 OneNote stuff
2W/'ECO101 - Principles of Economics'/Slides/'ECO101 Notes'/
